    <div cdkDropList (cdkDropListDropped)="drop($event,DataColumn)">
        <div  cdkDrag *ngFor="let itemcolumn of DataColumn; trackBy: trackByFn" class="text-xl font-semibold mb-4 text-indigo-300">
            <div class="bg-gray-800 rounded-lg shadow-md p-4">
                <h2 class="text-xl font-semibold mb-4 text-indigo-300">{{itemcolumn.title}}</h2>
                <button
                class="bg-gray-700 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded mt-8"
                (click)="createTodo(itemcolumn)"
                >
                Añadir Tarea
                </button>
                <button
                class="bg-gray-700 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded mt-8"
                (click)="deleteColumn(itemcolumn)"
                >
                Eliminar Tarea
                </button>
                <button
                class="bg-gray-700 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded mt-8"
                (click)="updateColumn(itemcolumn)"
                >
                Actualizar Tarea
                </button>
                    <div cdkDropList 
                        (cdkDropListDropped)="drop($event,DataTodo)">
                        <div cdkDrag *ngFor="let task of DataTodo; trackBy: trackByFn" >
                            <div *ngIf="task.id_column == itemcolumn.id">
                                <div class="bg-blue-700 rounded-md shadow mb-2 flex">
                                    <div class="flex-grow p-3 cursor-pointer" >
                                        <p class="text-sm text-white">{{ task.title }}</p>
                                    </div>
                                </div>
                                <button class="text-red-700 hover:scale-110 transform transition-transform duration-300" aria-label="Example icon button with a delete icon"
                                    (click)="deleteTodo(task)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                <div class="p-2 flex justify-center items-center text-white">
                                    <button (click)="updateStatus(task)">
                                        Editar
                                    </button>
                                </div>
                            </div>
                        </div>  
                    </div>

            </div>
        </div>
    </div>
