<!-- <div class="form-container">
	<p class="title">Login</p>
	<form #formsigning="ngForm" class="form" (ngSubmit)="formsend(formsigning)">
		<div class="input-group"> <label for="username">Username</label> <input type="text" name="username"
				id="username" ngModel placeholder=""> </div>
		<div class="input-group"> <label for="password">Password</label> <input type="password" name="password"
				id="password" ngModel placeholder="">
				<span *ngIf="NotFound" class="alert">Usuario o contraseña incorrecta</span>
		</div> <button type="submit" class="sign">Sign in</button>
	</form>
	<div class="social-message">
		<div class="line"></div>
		<p class="message">Login with account demo</p>
		<div class="line"></div>
	</div>
</div> -->


<form
  class="bg-white dark:bg-zinc-900 shadow-2xl rounded-2xl overflow-hidden border-4 border-blue-400 dark:border-blue-800 m-auto w-4/5 mt-48"
>
  <div class="px-8 py-10 md:px-10">
    <h2
      class="text-4xl font-extrabold text-center text-zinc-800 dark:text-white"
    >
      Bienvenido a la aplicación de gestión de tareas!
    </h2>
    <p class="text-center text-zinc-600 dark:text-zinc-400 mt-3">
      Estamos encantado que uses nuestro sistema, por favor usa las credenciales de demo
    </p>
    <form class="mt-10" #formsigning="ngForm" (ngSubmit)="formsend(formsigning)">
		<!-- Email -->
      <div class="relative">
        <label
          class="block mb-3 text-sm font-medium text-zinc-600 dark:text-zinc-200"
          for="username"
          >Email</label
        >
        <input
          placeholder="you@example.com"
          class="block w-full px-4 py-3 mt-2 text-zinc-800 bg-white border-2 rounded-lg dark:border-zinc-600 dark:bg-zinc-800 dark:text-zinc-200 focus:border-blue-500 dark:focus:border-blue-400 focus:ring-opacity-50 focus:outline-none focus:ring focus:ring-blue-400"
          name="username"
          id="username"
          type="username"
		  ngModel
        />
      </div>
	  <!-- / Email -->
	   <!-- Password -->
      <div class="mt-6">
        <label
          class="block mb-3 text-sm font-medium text-zinc-600 dark:text-zinc-200"
          for="password"
          >Password</label
        >
        <input
          placeholder="••••••••"
          class="block w-full px-4 py-3 mt-2 text-zinc-800 bg-white border-2 rounded-lg dark:border-zinc-600 dark:bg-zinc-800 dark:text-zinc-200 focus:border-blue-500 dark:focus:border-blue-400 focus:ring-opacity-50 focus:outline-none focus:ring focus:ring-blue-400"
          name="password"
          id="password"
          type="password"
		  ngModel
        />
      </div>
	  <!-- / Password -->
	  <span *ngIf="NotFound" class="text-red-600">Usuario o contraseña incorrecta</span>
      <div class="mt-10">
        <button
          class="w-full px-4 py-3 tracking-wide text-white transition-colors duration-200 transform bg-gradient-to-r from-blue-600 to-cyan-600 rounded-lg hover:from-blue-700 hover:to-cyan-700 focus:outline-none focus:ring-4 focus:ring-blue-400 dark:focus:ring-blue-800"
          type="submit"
        >
          Iniciar sesión
        </button>
      </div>
    </form>
  </div>
</form>

  