<div class="form-container">
	<p class="title">Login</p>
	<form #formsigning="ngForm" class="form" (ngSubmit)="formsend(formsigning)">
		<div class="input-group"> <label for="username">Username</label> <input type="text" name="username"
				id="username" ngModel placeholder=""> </div>
		<div class="input-group"> <label for="password">Password</label> <input type="password" name="password"
				id="password" ngModel placeholder="">
				<span *ngIf="NotFound" class="alert">Usuario o contraseña incorrecta</span>
		</div> <button type="submit" class="sign">Sign in</button>
	</form>
	<div class="social-message">
		<div class="line"></div>
		<p class="message">Login with account demo</p>
		<div class="line"></div>
	</div>
</div>