/* styles.css o styles.scss */

body {
  background: linear-gradient(to right, #06b6d4, #3b82f6);
  margin: 0; /* Para eliminar el margen por defecto del body */
  height: 100vh; /* Asegúrate de que ocupe toda la altura de la ventana */
}