<div class="min-h-full">
    <nav class="bg-gray-800">
      <!-- Menu Desktop -->
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 items-center justify-between">
          <div class="flex items-center">
            <div class="shrink-0">
              <img class="size-8" src="../../../../../assets/img/trello.png" alt="Trello Clone">
            </div>
            <div class="hidden md:block">
              <div class="ml-10 flex items-baseline space-x-4">
                <a href="#" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white" aria-current="page">Tableros</a>
              </div>
            </div>
          </div>

          <!-- Notifications -->
          <!-- <button type="button" class=" lg:flex lg:flex-1 lg:justify-end rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
            <span class="absolute -inset-1.5"></span>
            <span class="sr-only">View notifications</span>
            <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
            </svg>
          </button> -->
  
          <!-- Logout -->
          <div class="lg:flex lg:flex-1 lg:justify-end">
            <a [routerLink]="'signing/'" class="text-sm/6 font-semibold text-white">Cerrar sesión <span aria-hidden="true">&rarr;</span></a>
          </div>
         
        </div>
      </div>

      <!-- - Menu desktop -->
    </nav>

    <header class="bg-white shadow">
      <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">Lista de tableros</h1>
      </div>
    </header>
    <main>
      <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <!-- Your content -->
        <button
          class="bg-gray-700 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded mt-8 flex"
          (click)="createBoard()"
        >
       
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>
        Crear Tablero
        </button>
         <app-board [boards]="BoardAll"></app-board>
      </div>
    </main>
  </div>
